/include/ "system-conf.dtsi"
/ {
};

// for ZyboZ7 USB Host
/{
  usb_phy0: usb_phy@0 {
    compatible = "ulpi-phy";
    #phy-cells = <0>;
    reg = <0xe0002000 0x1000>;
    view-port = <0x0170>;
    drv-vbus;
  };
};

&usb0 {
    compatible = "xlnx,zynq-usb-2.20a", "chipidea,usb2";
    status = "okay";
    clocks = <0x1 0x1c>;
    dr_mode = "host";
    interrupt-parent = <0x4>;
    interrupts = <0x0 0x15 0x4>;
    reg = <0xe0002000 0x1000>;
    usb-phy = <&usb_phy0>;
};

// for udmabuf.
/{
  reserved-memory {
    #address-cells = <1>;
    #size-cells = <1>;
    ranges;
    image_buf0: image_buf@0 {
      compatible = "shared-dma-pool";
      reusable;
      reg = <0x3C000000 0x04000000>; // 64MiB
      label = "image_buf0";
    };
  };

	udmabuf@0 {
		compatible = "ikwzm,udmabuf-0.10.a";
		device-name = "udmabuf0";
		size = <0x04000000>; // 64MiB
    dma-coherent;
		memory-region = <&image_buf0>;
	};  
};
